@import url('https://fonts.googleapis.com/css?family=Pacifico');

body,
html,
div.board,
div#react-container {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

h1, .inst{
  font-family: "Helvetica";
  background-color: #7e91af; 
  margin: 0px;
  padding: 15px 0px 0px 15px;
}

h1 {
  font-size: 62px;
}

div.board {
  background-color: #7e91af;
  width: 100%;
  background: #7e91af;
}

div.note {
  height: 150px;
  width: 150px;
  background-color: #f2e863;
  margin: 2px 0;
  position: absolute;
  cursor: -webkit-grab;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  overflow: hidden;
}

div.note:active {
  cursor: -webkit-grabbing;
}

div.note p {
  margin: 0;
  font-size: 22px;
  padding: 5px;
  font-family: "Pacifico", Arial;
}

div.note:hover > span {
  opacity: 1;
}

div.note > span {
  position: absolute;
  bottom: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity .25s linear;
}

div.note button {
  margin: 2px;
}

div.note > textarea {
  height: 75%;
  background: rgba(255, 255, 255, .5);
}

.board > button {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
}